@model BevPort.Models.Users
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="site-wrapper">
        <div class="main-wrapper">
            <!--Header Top Menu-->
            <div class="main-naivgation">
            </div>
            <!--End Header Top Menu-->
            <!--Registration Form-->
            <section class="registration-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="image-holder">
                                            <img src="~/images/registration-form-6.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reg-forms">
                                            <h2 class="main-heading-content">Sign Up</h2>
                                            <p class="content-para">Numbers don’t lie. We empower every aspect of your distribution so you can make a material impact on your bottom line.</p>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label asp-for="FIRSTNAME">First Name</label>
                                                            <span class="red-star">*</span>
                                                            <input asp-for="FIRSTNAME" type="text" class="form-control" placeholder="" id="FIRSTNAME" name="FIRSTNAME" oninput="ValidateFname()" onchange="ValidateFname()" required="">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label asp-for="LASTNAME">Last Name</label>
                                                            <span class="red-star">*</span>
                                                            <input asp-for="LASTNAME" type="text" class="form-control" placeholder="" id="LASTNAME" name="LASTNAME" oninput="ValidateLname()" onchange="ValidateLname()" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label asp-for="EMAILID">Email</label>
                                                            <span class="red-star">*</span>
                                                            <input asp-for="EMAILID" class="form-control" placeholder="" id="EMAILID" name="EMAILID" oninput="ValidateEmail()" onchange="ValidateEmail()" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="CONFIRMEMAIL">Confirm Email</label>
                                                            <span class="red-star">*</span>
                                                            <input for="CONFIRMEMAIL" class="form-control" placeholder="" id="CONFIRMEMAIL" name="CONFIRMEMAIL" oninput="ValidateConfirmEmail()" onchange="ValidateConfirmEmail()" required="">
                                                            <div id="showerrorEmail"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label asp-for="PASSWORD">Password</label>
                                                            <span class="red-star">*</span>
                                                            <input asp-for="PASSWORD" type="password" class="form-control" placeholder="" id="PASSWORD" name="PASSWORD" oninput="ValidatePassword()" onchange="ValidatePassword()" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="CONFIRMPASSWORD">Confirm Password</label>
                                                            <span class="red-star">*</span>
                                                            <input for="CONFIRMPASSWORD" type="password" class="form-control" placeholder="" id="CONFIRMPASSWORD" name="CONFIRMPASSWORD()" oninput="ValidateConfirmPassword" onchange="ValidateConfirmPassword()" required="">
                                                            <div id="showerror"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label asp-for="USERTYPE">Primary Business</label>
                                                            <span class="red-star">*</span>
                                                            <select name="USERTYPE" id="USERTYPE" class="form-control" onchange="ValidateUserType()" required="">
                                                                <option value="" disabled="" selected=true>Choose Option</option>
                                                                <option value="2">Buyer</option>
                                                                <option value="1">Seller</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-btns">
                                                            <button class="btn btn-default" onclick="CreateUser()" id="btnSubmit" />
                                                            Next</i>
                                                    <button class="btn btn-default resetbtn" type="reset" onclick="ResetCreateUser()" />Reset</i>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Registration Form-->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/js/pages/user.js"></script>
