@model BevPort.Models.Users
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
     <div class="site-wrapper">
          <div class="main-wrapper">
            <!--Header Top Menu-->
            <div class="main-naivgation">
            </div>
            <!--End Header Top Menu-->
            <!--Forget Password Form-->
            <section class="registration-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="image-holder">
                                        <img src="~/images/registration-form-6.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="reg-forms">
                                        <h2 class="main-heading-content">Forget Password</h2>
                                        <p class="content-para">Numbers don’t lie. We empower every aspect of your distribution so you can make a material impact on your bottom line.</p>
                                        @*<form id="FormID" name="FormID" onsubmit="event.preventDefault();">*@

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                            <label asp-for="EMAILID">Email</label>
                                                        <span class="red-star">*</span>
                                                            <input asp-for="EMAILID" class="form-control" placeholder="" id="EMAILID" name="EMAILID" oninput="ValidateEmail()" onchange="ValidateEmail()" required="">
                                                            <label for="Message" style="color:red;padding-top:7px;" id="lblMessage">@ViewBag.Message</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-btns">
                                                        <button class="btn btn-default" onclick="ForgetPassword()" />
                                                        Submit</i>
                                                        <button class="btn btn-default resetbtn" type="reset" onclick="ClearForgetPassword()" />Reset</i>
                                                    </div>
                                                </div>
                                            </div>
                                        @*</form>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!--End Forget Password Form-->
                    </div>
                </div>
            </div>
</section>
        </div>
      </div>
<script src="~/js/pages/forgetpassword.js"></script>
