@model BevPort.Models.Users
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="site-wrapper">
        <div class="main-wrapper">
            <!--Header Top Menu-->
            <div class="main-naivgation">
            </div>
            <!--End Header Top Menu-->
            <!--Forget Password Form-->
            <section class="registration-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="image-holder">
                                            <img src="~/images/registration-form-6.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reg-forms">
                                            <h2 class="main-heading-content">Reset Password</h2>
                                            <p class="content-para">Numbers don’t lie. We empower every aspect of your distribution so you can make a material impact on your bottom line.</p>
                                            <form id="FormID" name="FormID" method="post" onsubmit="event.preventDefault();">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label asp-for="EMAILID">Email</label>
                                                            <span class="red-star">*</span>
                                                            <input asp-for="EMAILID" class="form-control"  placeholder="" id="EMAILID" name="EMAILID" oninput="ValidateEmail()" onchange="ValidateEmail()" required="" readonly="readonly" value="@(ViewBag.EmailID ?? String.Empty)">
                                                            <label for="Message" class="error-message" id="lblMessage">@ViewBag.Message</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label asp-for="PASSWORD">New Password</label>
                                                            <span class="red-star">*</span>
                                                            <input asp-for="PASSWORD" type="password" class="form-control" placeholder="" id="PASSWORD" name="PASSWORD" oninput="ValidatePassword()" onchange="ValidatePassword()" required="">
                                                        </div>
                                                    </div>  
                                                </div>
                                                <div class="row">   
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="CONFIRMPASSWORD">Confirm New Password</label>
                                                            <span class="red-star">*</span>
                                                            <input for="CONFIRMPASSWORD" type="password" class="form-control" placeholder="" id="CONFIRMPASSWORD" name="CONFIRMPASSWORD()" oninput="ValidateConfirmPassword()" onchange="ValidateConfirmPassword()" required="">
                                                            <div id="showerror"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-btns">
                                                            <button class="btn btn-default" onclick="ResetPassword()" id="btnSubmit" />
                                                            Submit</i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <!--End Reset Password Form-->
                        </div>
                    </div>
                </div>
            </section>

            <section class="footer">
                <div class="container" style="padding-left:0px">
                    <div class="row">
                        <div class="col-md-3">
                            <h2 class="footer-heading">Quick Links</h2>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading">Trending</h2>
                            <ul>
                                <li><a href="#">Sellers</a></li>
                                <li><a href="#">Buyers</a></li>
                                <li><a href="#">Membership</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading">Quick Links</h2>
                            <ul>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading">Quick Links</h2>
                            <p><a href="#">800 XXXX XXX</a></p>
                            <p><a mailto:href="#">support@bevport.com</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="newsletter">
                                <h2 class="elementor-heading-title">BevPort Newsletter</h2>
                                <p>Be the first to know about our new arrivals and exclusive offers.</p>
                                <div class="newsletter-form">
                                    <form name="sds">
                                        <div class="mc4wp-form-fields">
                                            <div class="mc_merge_var">
                                                <input type="email" name="EMAIL" placeholder="Email Address"  required="">
                                            </div>
                                            <div class="mc_signup_submit">
                                                <input type="submit" value="Sign up">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ftr-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyrights &copy; 2023 All Rights Reserved by BevPort.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/js/pages/resetpassword.js"></script>


@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



<script>

    function Hello() {

        swal("Success!", "Successfully Deleted Data!", "success");
    }
</script>*@