
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="site-wrapper">
        <div class="main-wrapper">
            <!--Header Top Menu-->
         
            <!--End Header Top Menu-->
            <section class="inner-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-main-heading">
                                <h1>About Us</h1>
                                <p>We are bold, authentic and passionate in everything we do.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="main-content-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-text">
                                <h5 class="sub-heading">About Us</h5>
                                <h2 class="inner-main-heading-content">BevPort Distribution Made Easy</h2>
                                <p>Ad nec unum copiosae. Sea ex everti labores, ad option iuvaret qui muva.</p>
                                <p>Ea pro tibique comprehensam, sed ea verear numquam molestie. Nam te omittam comprehensam. Ne nam nonumy putent fuisset, reque fabulas usu ne. Ex vel populo appellantur. Eos ne delenit admodum.</p>
                                <div class="discover-more">
                                    <a href="#" class="discover-btn">Discover More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-img">
                                <img class="img-responsive" src="~/images/beer-about.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

