
@{
    ViewData["Title"] = "Seller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="site-wrapper">
        <div class="main-wrapper">
            <!--Header Top Menu-->
        
            <section class="inner-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-main-heading">
                                <h1>Sellers</h1>
                                <p>Distribution is now yours.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="main-content-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-text">
                                <h5 class="sub-heading">Sellers</h5>
                                <h2 class="inner-main-heading-content">Distribution. It really can be easy</h2>
                                <p>Ad nec unum copiosae. Sea ex everti labores, ad option iuvaret qui muva.</p>
                                <p>Ea pro tibique comprehensam, sed ea verear numquam molestie. Nam te omittam comprehensam. Ne nam nonumy putent fuisset, reque fabulas usu ne. Ex vel populo appellantur. Eos ne delenit admodum.</p>
                                <div class="discover-more">
                                    <a href="#" class="discover-btn">Discover More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-img">
                                <img class="img-responsive" src="~/images/seller-bg.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


